.App {
  text-align: center;
  text-shadow: 4px 4px 2px rgb(233, 85, 85);
  color: white;
}

.teamList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .teamMember {
    padding: 10px;
    background-image: linear-gradient(rgb(3, 63, 3), rgb(5, 212, 5));
    width: 300px;
    border: 1px solid rgb(30, 177, 30);
    margin: 20px auto;
    text-shadow: 2px 2px 4px red;
    color: whitesmoke;
  }
}

.formItem {
  margin: 10px 15px;
  padding: 0px 15px;
}
